.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 2.4rem;
        height: 2.4rem;

        path {
            fill: #A7A7A7;
        }
    }
}
